//animate css

.fadeInDown, .fadeInLeft, .fadeInRight, .fadeInUp, .fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.fadeDuration {

  &-08 {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
  }
}

.fadeDelay {

  &-2 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  &-04 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }

  &-06 {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
  }

  &-08 {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
  }

  &-10 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }

  &-12 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }

  &-16 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
  }
}

.typewriter {

  &-wrap {
    display: inline-block;
    text-align: center;
    min-width: 200px;

    &--1 {
      min-width: 325px;

      @include media-breakpoint-down(sm) {
        min-width: 202px;
      }
    }
  }
}
