html, body {
  height: 100%;
}

body {
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: $black;
  overflow-x: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

h1, .h1 {
  font-family: 'Oakle', sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 80px;
  text-align: center;

  @include media-breakpoint-down(sm) {
    font-size: 40px;
    line-height: 46px;
    margin-bottom: 50px;
  }
}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}

h6, .h6 {

}

p {
  margin-bottom: 20px;
}

b, strong {
  font-weight: 700;
}

img {
  @extend .img-fluid;
}

button, input, textarea {
  -webkit-appearance: none;
  @extend .remove-outline;
}

.ajax-loader {
  display: none !important;
}
