.bg {

  &-contain {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.remove-outline {
  &:hover, &:focus, &:active {
    outline: none!important;
    box-shadow: none!important;
  }
}

.pseudo {
  content: '';
  display: block;
  position: absolute;
}

.fix-aos {
  overflow-x: hidden;
}
