.footer {

  &-logo {
    margin-bottom: 20px;
    text-align: center;
  }

  &-powered {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    color: rgba(white, 0.4);
    text-align: center;
  }

  &-links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    a {
      font-size: 0;
      display: inline-block;
    }

    span {
      display: inline-block;
      width: 12px;
      height: 12px;
      @extend .bg-contain;
      background-image: url('../images/x.svg');

      &:last-child {
        display: none;
      }
    }

    &__social {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @include media-breakpoint-down(sm) {
        position: relative;
        right: unset;
        top: unset;
        transform: none;
        margin-top: 20px;
      }

      a {
        font-size: 0;
        width: 24px;
        height: 24px;
        margin: 0 10px;
        transition: 0.3s;

        &:hover {
          text-decoration: none;
          opacity: 0.6;
        }
      }
    }
  }
}
