.contact-form {
  margin-bottom: 60px;

  &__inner {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  p {
    margin-bottom: 0;
  }

  br {
    display: none;
  }

  label {
    margin-bottom: 0;
    margin-right: -20px;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      margin-right: 0;
      width: 100%;
    }

    input {
      border: 1px solid rgba(white, 0.4);
      border-radius: 16px 0;
      height: 60px;
      background-color: transparent;
      padding: 10px 40px 10px 20px;
      width: 100%;
      color: white;
     & ::placeholder {
        color: rgba(white, 0.4);
        opacity: 1;
      }

      &:-ms-input-placeholder {
        color: rgba(white, 0.4);
      }

      &::-ms-input-placeholder {
        color: rgba(white, 0.4);
      }

      @include media-breakpoint-down(sm) {
        padding: 10px 20px;
      }
    }
  }

  button {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .wpcf7-response-output {
    margin-left: 0!important;
    margin-right: 0!important;
    border: none!important;
    padding-left: 0!important;
    padding-right: 0!important;

    @include media-breakpoint-down(sm) {
      text-align: center;
    }
  }
}
